<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.reobotetechnology.reobotegame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".helper.UserOnline"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icone2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".ui.match.MatchWinnerAnimationActivity"/>
        <activity android:name=".ui.match.MatchAdMobActivity" />
        <activity android:name=".ui.bible.SearchVersesAllActivity" />
        <activity android:name=".ui.bible.DetailsBookActivity" />
        <activity android:name=".ui.bible.SongBibleActivity" />
        <activity android:name=".ui.bible.BibleThemesListActivity" />
        <activity android:name=".ui.bible.ThemesActivity" />
        <activity
            android:name=".ui.harpe.HarpeListActivity"
            android:theme="@style/AppThemeToolbar" />
        <activity
            android:name=".ui.harpe.HarpeActivity"
            android:theme="@style/AppThemeToolbar" />
        <activity android:name=".ui.main.FindFriendsActivity" />
        <activity android:name=".ui.main.PoliticesActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".ui.bible.ListBiblieGrid" />
        <activity android:name=".ui.main.CreateImageAccountActivity" />
        <activity android:name=".ui.match.MatchLoadingIAActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~6300978111" />

        <activity
            android:name=".ui.messages.MessagesListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.match.MatchLoadingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.match.MatchFinishDetailsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.main.EditProfileActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.friends.ViewImageScreenActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.friends.FriendProfileActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.play_movies.PlayActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.bible.VersesActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.bible.ChaptersActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.bible.BiblieActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeToolbar"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.main.WelcomeActivity" />
        <activity
            android:name=".ui.match.MatchActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.blog.BlogDetails"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.main.TermesofUseActivity" />
        <activity
            android:name=".ui.friends.FriendsListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.messages.ChatActivity" />
        <activity
            android:name=".ui.notifications.NotificationsActivity"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.main.SplashScreenActivity"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.ForgotPasswordActivity" />
        <activity android:name=".ui.main.CreateAccountActivity" />
        <activity android:name=".ui.main.LoginAccountActivity" />
        <activity
            android:name=".ui.main.SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.match.MatchRulesActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/biblia" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>